@import '../../../assets/scss/color-palette';

.upVotesCounter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: map-get($colors, 'color-button-grey');
  border-radius: 10px;
  width: 40px;
  height: 53px;
  transition: .4s;
  cursor: pointer;
}

.upVotesCounter:hover {
  background-color: map-get($colors, 'color-button-grey-hover');
}

.upVotesCounter__active {
  background-color: map-get($colors, 'color-button-active');
}

.upVotesCounter__active:hover {
  background-color: map-get($colors, 'color-button-active');
}

.upVotesCounter__icon {
  font-size: 18px;
  font-weight: 700;
  color: map-get($colors, 'color-text-service');
}

.upVotesCounter__icon__active {
  color: map-get($colors, 'color-text-main-white');
}

.upVotesCounter__title {
  font-size: 15px;
  color: map-get($colors, 'color-text-main-dark');
  font-weight: 900;
}

.upVotesCounter__title__active {
  color: map-get($colors, 'color-text-main-white');
}
