$colors: (
  color-background: #F2F4FF,
  color-background-card: #FFFFFF,
  color-background-annotation: #373E68,
  color-background-annotation-secondary: #485180,
  color-background-icon: #d9dce9,

  color-button-purple: #AE1FEB,
  color-button-purple-hover: #ac4ad6,
  color-button-grey: #F2F4FF,
  color-button-grey-hover: #c5cfff,
  color-button-active: #4661E6,
  color-button-active-hover: #5d74e6,
  color-button-green: #66bb6a,
  color-button-green-hover: #a7cfaa,

  color-text-main-white: #F5EDFE,
  color-text-main-dark: #373f68,
  color-text-secondary: #647196,
  color-text-service: #4661E6,
  color-text-service-hover: #7584ce,

  color-status-new: #f49f85, 
  color-status-active: #ad1fea, 
  color-status-done: #62bcfa, 

  color-modal-overlay: #aebbfc63,

  color-card-title: radial-gradient(128.88% 128.88% at 103.9% -10.39%,#e84d70 0,#a337f6 53.09%,#28a7ed 100%),
);